.form-control  {
    background-color: #e4e6e0;
    border-radius: 20px;
    border: none;
    margin-left: 33vh; 
    margin-top: 2vh;
    width: 30vh;
    height: 5vh;
    text-align: center;
}
.form-select {
    background-color: #e4e6e0;
    border-radius: 20px;
    border: none;
    margin-left: 33vh; 
    margin-top: 2vh;
    width: 30vh;
    height: 5vh;
    text-align: center;
}
.formRadio {
    background-color: #e4e6e0;
    border-radius: 20px;
    border: none;
    margin-top: 2vh;
    text-align: center;
    display: inline;
    margin-left: 39vh;
}

.formRadio2 text{
    background-color: #e4e6e0;
    border-radius: 20px;
    border: none;
    margin-top: 2vh;
    text-align: center;
    display: inline;
    position: absolute;
}
button, .btn {
background-color: #5f5f5d !important;
width: 15vh;
height: 5vh;
margin-left: 33vh;
margin-top: 2vh;
}
button:hover, .btn:hover {
    background-color: #4c4c4a !important;
}
.btn-cancel{
    position: absolute;
    border: none;
    border-radius: 5px;
    color: #fff !important;
    margin-left: 1vh !important;
    cursor: pointer;
}
.btn-cancel:hover {
    background-color: #4c4c4a !important;
}